.false {
    padding: 4px 16px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    border-radius: 8px;
   
    background-color: #00c3ff89;
}

.false:not(:last-child) {
    margin-bottom: 5px;
}

.true {
    composes: false;
    background-color: hsla(166, 100%, 50%, 0.7);
    text-decoration: line-through;
}