@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Gochi Hand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding-top: 25px;
  background: linear-gradient(to right, #00c3ff, #ffff1c);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
